# Command aliases.
alias cp='cp -i'
alias l='ls -la --color=auto'
alias ll='ls -l --color=auto'
alias ls='ls --color=auto'
alias mv='mv -i'

# Prefer ripgrep over grep, egrep, and fgrep.
if ( command -v rg > /dev/null 2>&1 ); then
	alias egrep='rg --regexp --color=auto'
	alias fgrep='rg --fixed-strings --color=auto'
	alias grep='rg --color=auto'
	alias rg='rg --color=auto'
else
	alias egrep='egrep --color=auto'
	alias fgrep='fgrep --color=auto'
	alias grep='grep --color=auto'
fi

# Prefer Neovim, then Vim, then Vi in that order.
if ( command -v nvim > /dev/null 2>&1 ); then
	EDITOR=$(command -v nvim)
	VISUAL="${EDITOR}"
	alias vim='nvim'
elif ( command -v vim > /dev/null 2>&1 ); then
	EDITOR=$(command -v vim)
	VISUAL="${EDITOR}"
elif ( command -v vi > /dev/null 2>&1 ); then
	EDITOR=$(command -v vi)
	VISUAL="${EDITOR}"
fi
export EDITOR VISUAL
