# Function completion configures command completion.
function completion () {
	local completion_files=(
		"/usr/local/etc/bash_completion.d/git-completion.bash"
		"/usr/share/doc/git/contrib/completion/git-completion.bash"
	)

	for completion_file in ${completion_files[*]}; do
		if [ ! -f "${completion_file}" ]; then
			continue
		fi

		. "${completion_file}"
		return
	done
}

completion

unset -f completion
