# Function prompt configures the PS1 environment variable.
function prompt() {
	local git_prompt_files=(
		"/etc/bash_completion.d/git-prompt"
		"/usr/local/etc/bash_completion.d/git-prompt.sh"
		"/usr/share/doc/git/contrib/completion/git-prompt.sh"
		"/usr/share/git-core/contrib/completion/git-prompt.sh"
		"/usr/share/git/completion/git-prompt.sh"
		"/usr/share/git/git-prompt.sh"
	)

	for git_prompt_file in ${git_prompt_files[*]}; do
		if [ ! -f "${git_prompt_file}" ]; then
			continue
		fi

		. "${git_prompt_file}"
		export GIT_PS1_SHOWDIRTYSTATE=1
		export PS1='\[\e[38;5;10m\]\W\[\e[38;5;11m\]$(__git_ps1 " (%s)")\[\e[0m\]\n\[\e[0m\]> '
		return
	done

	export PS1='\[\033[38;5;10m\]\w\[\033[38;5;11m\]\[\033[0m\]\n\[\e[0m\]> '
}

prompt

unset -f prompt
