# Readline init file.

# Case insensitive filename matching.
set completion-ignore-case on

# List ambiguous matches instead of ringing the bell.
set show-all-if-ambiguous on

# List unmodified matches instead of ringing the bell.
set show-all-if-unmodified on

# Use Tab to cycle forward through the matches.
TAB:menu-complete

# Use Shift+Tab to cycle backward through the matches.
"\e[Z":menu-complete-backward
