[Unit]
Description=Sync Helix theme with COSMIC theme

[Service]
Type=oneshot
ExecStart=/usr/bin/env nu %h/bin/helix-theme-sync.nu

[Install]
WantedBy=default.target
